@import url("https://fonts.googleapis.com/css?family=Lato|Nanum+Gothic&display=swap");

/****************************
/* autoprefix + normalize */

/* valable pour tous les écrans */
body {
  /* margin-right: 0px; */
  margin: 0;
  padding: 0;
}

/* valable pour tous les écrans */
p {
  line-height: 1.5;
  font-family: "Roboto";
  color: black;
  margin-left: 3px;
  margin-top: 0px;
}

/* valable pour tous les écrans supérieures à 1200px */
@media screen and (min-width: 1200px) {
  body {
    margin: 10px auto;
    max-width: 1168px; /* 1200 - 16*2 */
    /* display: block; */
    display: flex;
    justify-content: space-between;

    width: 100%;
  }
}

/* valable pour tous les écrans supérieures à 640px */
@media screen and (min-width: 640px) {
  p,
  .App,
  .navContainer,
  .accueil {
    column-count: 2; /* ! column à utiliser pour des exemples simples */
    width: 100%;
  }
}

/* valable pour tous les écrans supérieures à 960px */
@media screen and (min-width: 960px) {
  p,
  .App,
  .navContainer,
  .accueil {
    column-count: 3;
    width: 100%;
  }
}
/***************************/
/* @media screen and (max-width: 800px) {
  p, body, .App, .navContainer, .accueil, .learningMethodology {
    display: block;
    width: 100%;
  }
} */

/***************************/
/* font-family: "Lato";


font-family: "Nanum Gothic"; */
* {
  font-family: "Lato";
}

.App {
  text-align: center;
  font-size: 30px;
}
a {
  text-decoration: none;
  color: black;
}
/* 1 */
.navContainer {
  height: 100%;
  width: 100%;
  margin-right: auto;
  font-family: "Quicksand";
  display: flex;

  flex-direction: row;

  justify-content: space-between;
  font-size: 1.4em;
  letter-spacing: 1px;
  padding: 10px 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}

.container-accueil {
  background-image: url("./components/public/img/teclado-espagnol.jpg");
  background-repeat: no-repeat;
  background-position: 5px 0px;
  opacity: 0.8;
  height: 50vh;
  width: 115%;
  margin: 2px 0.5px 15px -3px;
  padding: 110px 0px 100px 0;
  background-size: 90% 120%;
}

.info-accueil h1 {
  margin: 10px 0px 0px -90px;
  padding: 0%x 0%;
  font-family: "Anton";
  letter-spacing: -0.5pt;
  line-height: 1em;
  text-align: center;
  font-size: 350%;
  color: red;
}

.info-accueil p {
  /* margin: 0 auto; */
  width: 1000px;
  padding: 40px 0px 0px 345px;

  max-width: 40%;
  color: black;
  text-align: left;
  word-spacing: 10px;
  font-size: 2em;
  text-indent: 0px;
}

.info-accueil p1 {
  padding: 0px 0px 0px 375px;

  color: black;
  word-spacing: 15px;
  font-size: 2em;
  text-indent: 10px;
}

.container-learning-methodology {
  /* background-image: url(/static/media/livre-espagnol1.50e4257c.png); */
  background-image: url("./components/public/img/livre-espagnol2.png");
  background-repeat: no-repeat;
  background-image: center;

  height: 90vh;
  width: 100%;
  background-size: cover;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /*   
  padding: 10px auto;
  padding: 30px 0px 100px 300px;
  background-size: 90% 120%; */
}
.container-learning-methodology:before {
  content: "";
  width: 100%;
  height: 90vh;
  background-color: aqua;
  position: absolute;
  opacity: 0.2;
}

.info-learning-methodology p {
  background-color: wheat;
  opacity: 0.7;
  width: 50%; /* contrôle le width de la column*/
  max-width: 100%;
  margin-top: 10px;
  margin-left: 40px;
  text-indent: 1cm;
  padding-top: 20px;
  columns: 1;
  text-indent: 50px;
  align-self: stretch;
  position: relative;
  text-align: justify;
  border: 12px solid wheat;
}

.info-learning-methodology p::first-letter {
  font-size: 2rem;
}

h1 {
  color: orangered;
  font-size: 35x;
  padding: 20px 0px 0px 10px;
  text-align: center;
  position: relative;
}



/* #boton{
  padding: 10px;
  background: orange;
  width: 95px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 1px #000;
  display: inline-block;
}

#boton:hover{
  opacity: .8;
}

.caja{
  width: 100%;
  margin: auto;
  height: 0px;
  background: #000;
  box-shadow: 10px 10px 3px #D8D8D8;
  transition: height .4s;
} */




.learningTips {
  height: 100vh;
  background-image: url("./components/public/img/images14.jpg");
  background-repeat: no-repeat;
  background-color: royalblue;
  padding: 100px 0 100px 0;
  background-size: 100% 90%;
}

.iconTest {
  width: 30px;
}

/* .footer {
  background-color: grey;
  font-family: "Roboto";
  font-size: 30px;
  margin-left: 20px;
  text-align: center;
} */

/* .icon {
  color: white;

  margin-left: 20px;
}

.column {
  color: white;
} */

/* Hoy 23-03 */
.define {
  width: 100%;

  margin: 0 auto;
  margin-left: 20px;
  position: relative;
  /* Altura total del footer en px  */
  margin-top: 150px;
  /* Altura del footer en px  */

  padding: 5px 0px;
  clear: both;
  background: rgb(240, 240, 243);
  text-align: match-parent;

  display: flex;
  padding: 18px 8px;
}

footer p {
  flex: 1;
  margin: 0;
}

footer ul {
  flex: 2;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding-left: 0;
  list-style: none;
}
