@import url("https://fonts.googleapis.com/css?family=Lato|Nanum+Gothic&display=swap");

/****************************
/* autoprefix + normalize */
/* @media screen and (max-width:640px) {
  /* reglas CSS */
/* } */
/* @media screen and (max-width:1024px) and (min-width:640px) {
  reglas CSS */
/* }
@media screen and (min-width:1024px) { */
/* reglas CSS */
/* } */
/* valable pour tous les écrans */
/* body { */
/* margin-right: 0px; */
/* margin: 0;
  padding: 0;
} */

/* valable pour tous les écrans */
p {
  line-height: 1.5;
  font-family: "Roboto";
  color: black;
  margin-left: 3px;
  margin-top: 0px;
}

/* valable pour tous les écrans supérieures à 1200px */

@media screen and (min-width: 1024px) {
  .navContainer,
  .home {
    /* > 1200px (1168px;/*1200 - 16*2) */
    width: 100%;
    /* display: block; */
    display: flex;
    justify-content: space-between;
  }
}

/* valable pour tous les écrans supérieures à 640px */
/* @media screen and (max-width: 640px) { */
@media screen and (max-width: 1024px) and (min-width: 640px) {
  p,
  .App,
  .navContainer,
  .home {
    column-count: 2; /* ! column à utiliser pour des exemples simples */
    width: 100%;
  }
}

/* valable pour tous les écrans supérieures à 960px */
/* @media screen and (max-width: 960px) { */
@media screen and (max-width: 640px) {
  p,
  .App,
  .navContainer,
  .home {
    column-count: 3;
    width: 100%;
  }
}
/***************************/
/* @media screen and (max-width: 800px) {
  p, body, .App, .navContainer, .home, .learningMethodology {
    display: block;
    width: 100%;
  }
} */

/***************************/

* {
  font-family: "Lato";
}

.App {
  text-align: center;
  font-size: 30px;
}
a {
  text-decoration: none;
  color: black;
}

.navContainer {
  /* height: 100%; */
  width: 100%;
  /* margin-right: auto; */
  font-family: "Quicksand";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.35em;
  letter-spacing: 1px;
  padding: 13px 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.container-home {
  background-image: url("./components/public/img/teclado-espagnol.jpg");
  background-repeat: no-repeat;
  background-position: 5px 0px;
  opacity: 0.8;
  height: 50vh;
  width: 114%;
  margin: 2px 0.5px 15px -3px;
  padding: 110px 0px 100px 0;
  background-size: 90% 120%;
}

.info-home h {
  margin: 20px 0px 0px 415px;
  padding: 0%x 0%;
  font-family: "Anton";
  font-size: 70px;
  letter-spacing: -2pt;
  line-height: 1em;
  text-align: center;
  /* font-size: 350%; */
  font-weight: bold;
  color: red;
}

.info-home p {
  padding: 40px 0px 0px 480px;
  columns: 1;
  line-height: 58px;
  color: black;
  text-align: left;
  font-size: 40px;
  text-indent: 0px;
}

.info-level-test { 

  font-size: 25px;
  padding-left: 10px;
}

.fit-image {
  width: 250px;
}

.iconTest {
  background-image: url("./components/public/img/livre-espagnol2.png");
} 

.container-learning-methodology {
  background-image: url("./components/public/img/livre-espagnol2.png");
  background-repeat: no-repeat;
  background-image: center;
  height: 90vh;
  width: 100%;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-learning-methodology:before {
  content: "";
  width: 100%;
  height: 90vh;
  background-color: aqua;
  position: absolute;
  opacity: 0.2;
}

.info-learning-methodology p {
  background-color: wheat;
  opacity: 0.7;
  width: 70%; /* contrôle le width de la column*/
  height: 400px;
  max-width: 66%;
  margin-top: 70px;
  margin-left: 245px;
  text-indent: 1cm;
  font-size: 20px;
  padding-top: 15px;
  columns: 1;
  text-indent: 70px;
  align-self: stretch;
  position: relative;
  text-align: justify;
  border: 12px solid wheat;
}

.info-learning-methodology p::first-letter {
  font-size: 2rem;
}

h1 {
  color: orangered;
  font-size: 50px;
  padding: 0px 0px 0px 50px;
  text-align: center;
  position: relative;
}

.container-learning-tips {
  background-image: url("./components/public/img/talkspanish.jpg");
  background-repeat: no-repeat;
  background-image: center;
  height: 150vh;
  width: 100%;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-learning-tips:before {
  content: "";
  width: 100%;
  height: 150vh;
  background-color: cornflowerblue;
  position: absolute;
  opacity: 0.2;
}

.info-learning-tips p {
  background-color: wheat;
  opacity: 0.7;
  width: 80%; /* contrôle le width de la column*/
  max-width: 100%;
  /* margin-top: 1px; */
  margin-left: 125px;
  
  /* padding-top: 2px; */
  font-size: 20px;
  columns: 1;
  text-indent: 65px;
  align-self: stretch;
  position: relative;
  text-align: justify;
  border: 12px solid wheat;
}
.info-learning-tips h2 {
  /* margin-top:10px; */
  color: orangered;
  font-size: 50px;
  /* padding: 1px 0px 0px 10px; */
  text-align: center;
  position: relative;
}

.info-learning-tips p::first-letter {
  font-size: 2rem;
}

.info-progress-global {
  font-size: 25px;
  padding-left: 10px;
}


.defineFooter {
  width: 100%;
  margin: 0 auto;
  margin-left: 20px;
  position: relative;
  /* High total of the footer  px  */
  margin-top: 150px;
  /* High of the footer in px  */
  clear: both;
  background: rgb(240, 240, 243);
  text-align: match-parent;
  display: flex;
  padding: 18px 8px;
}

footer p {
  flex: 1;
  margin: 0;
  font-size: 19px;
}

footer ul {
  flex: 2;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding-left: 0;
  font-size: 19px;
  list-style: none;
}

.info-about-us h3
{
  width: 80%; /* contrôle le width de la column*/
  max-width: 100%;
  /* margin-top: 1px; */
  margin-left: 125px;
  
  /* padding-top: 2px; */
  font-size: 20px;
  color: pink;
  columns: 1;
  text-indent: 65px;
  align-self: stretch;

}
